Описание условий по которым определяется тип события

        1. Move
    1.1 Принудительная команда к движению
1.1.1 Выделен объект 
Т.е. координаты курсора в момент нажатия левой кнопки мыши
совпали с координатами объекта в один и тот же момент времени
1.2 Объект может двигаться (есть атрибут Speed!=0)
1.3 Дана команда на перемещение
1.3.1 Команда мышью
Проведено нажатие правой кнопкой мыши в рамках размера игрового экрана
В месте нажатия отсутствуют другие объекты (пустое поле)
 if ebiten.IsMouseButtonPressed(ebiten.MouseButtonLeft) {
        mouseX, mouseY := ebiten.CursorPosition()
        for _, unit := range units {
            if mouseX >= unit.X && mouseX <= unit.X+unit.Width &&
                mouseY >= unit.Y && mouseY <= unit.Y+unit.Height {
                unit.IsSelected = true
            }
1.3.2 Команда с применением клавиатуры
На клвиатуре нажата клавиша "M"
if  inpututil.IsKeyJustPressed(ebiten.KeyM)
и курсором проведено нажатие левой кнопкой мыши в рамкахразмера игрового экрана
В месте нажатия отсутствуют другие объекты (пустое поле)

    1.2. Автоматическое движение
Логика автоматического движения должна описываться отдельной специально-созданной функцией
и скриптами игрока

        2.Build


        3. Atack
    3.1 Принудительная команда к aтаке
Т.е. координаты курсора в момент нажатия левой кнопки мыши
совпали с координатами объекта в один и тот же момент времени
3.1.2 Объект может атаковать (парамет Damnage!=0)
3.1.3 Дана команда атаки
3.1.3.1 Команда мышью
Проведено нажатие правой кнопкой мыши в рамках размера игрового экрана
В месте нажатия присутствует объект который можно атаковать (HP!=0)
3.1.3.2 Команда с применением клавиатуры
На клвиатуре нажата клавиша "A"
if  inpututil.IsKeyJustPressed(ebiten.KeyA)
и курсором проведено нажатие левой кнопкой мыши в рамкахразмера игрового экрана
В месте нажатия присутствует объект который можно атаковать (HP!=0)
    3.2. Автоматическое атака
Логика автоматического движения должна описываться отдельной специально-созданной функцией
и скриптами игрока

        4.
